.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    display: grid;
    grid-auto-columns: 90px;
    grid-gap: 5px;
    background-color: lightseagreen;
    padding: 20px;
  }

  .footer > div {
    background-color: lightseagreen;
    color: wheat;
    text-align: center;
    padding: 5px;
  }

  .footerItem1 {
    grid-row: 1/1;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
  